@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: nord --default, sunset --prefersdark, dark;
}

@font-face {
  font-family: billabong;
  src: url('../src/assets/fonts/Billabong.otf');
  font-weight: bold;
}


* {
  font-family: "Inter 28pt 28pt", sans-serif;
}

body {
  min-height: 100vh;
}

.signup-title, .login-title {
  font-family: Billabong;
  font-size: 40px;
}