@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: nord --default, dark --prefersdark, dark;
}

* {
  font-family: BlinkMacSystemFont, "Inter 24pt 24pt", sans-serif;
}

body {
  min-height: 100vh;
}

.signup-title, .login-title {
  font-family: Billabong;
  font-size: 40px;
}