@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dark;
}

@font-face {
  font-family: billabong;
  src: url('../src/assets/fonts/Billabong.otf');
  font-weight: bold;
}


* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  min-height: 100vh;
}

.signup-title, .login-title {
  font-family: Billabong;
  font-size: 40px;
}